$blue: red;
$colors:(
  primary:#ffffff,
  accent:#b8a07e,
  sub:#44484b,
  sub1:#333
);

$fontColor:(
primary:#898989,
accent:#fff,
sub1:#292929,
sub2:#b8a07e,
sub3:#999999,
sub4:#afafaf
);

$borderColor:(
primary:#999,
accent:#fff,
sub1:#049dff,
sub2:#fdba04,
sub3:#ed687c,
sub4:#1abc9c
);
